[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test = "python -m unittest discover -v -s tests -p 'test_*.py'"
doc = "python -m pydoc -w scinet.core"
build = "python setup.py sdist bdist_wheel"
pypi = "python -m twine upload --repository pypi dist/*"
testpypi = "python -m twine upload --repository testpypi dist/*"

[dev-packages]
autopep8 = "*"
pylint = "*"
rope = "*"
twine = "*"

[packages]

[requires]
python_version = "3.8"
